---
import "@/styles/global.css"
---

<!doctype html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>AI Word Chain</title>
  </head>
  <body>
    <main class="mx-auto h-dvh w-dvw max-w-md p-4">
      <div class="mx-auto my-auto grid h-fit w-fit gap-y-4">
        <slot />
      </div>
    </main>
  </body>
</html>
